@*
    This page will be in a modal or just show up with display controls like accordion or something around those lines for setting up the application.    
*@
@model MVC_MultiTenancy.Models.Company

<p>BLAH !</p>

@{

}
